<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<base href="http://localhost:3000/">
	<link rel="stylesheet" href="public/css/style.css">
	<script>
		var ROOT_URL = "http://localhost:3000/";
	</script>
</head>
<body>
	<div class="topbar">
		<div class="wrapper clearfix">
			<div class="tel-number fl">
				<i class="icon-tel"></i>
				400-008-7077
				<span>（工作日 9:00-22:00）</span>
			</div>
			<div class="fr clearfix">
				<div class="login">登录</div>
				<ul class="top-list">
					<li>
						<a href="">联系我们</a>
					</li>
					<li>
						<a href="">关于我们</a>
					</li>
					<li>
						<a href="">注册账户</a>
					</li>
				</ul>
				<div class="download">
					<i class="icon-phone"></i>
					APP下载
					<i class="icon-arrow-down"></i>
				</div>
				
			</div>
		</div>
	</div>
	<div class="navbar">
		<div class="wrapper clearfix">
			<div class="logo fl">
				<img src="images/logo.png" alt="青柠科技">
			</div>
			<div class="nav-menu fr">
				<a href="" class="active">
					<span>首页</span>
				</a>
				<a href="">
					<span>安心理财</span>
				</a>
				<a href="">
					<span>安全保障</span>
				</a>
				<a href="">
					<span>帮助中心</span>
				</a>
				<a href="">
					<span>账户中心</span>
				</a>
			</div>
		</div>
	</div>
	<div class="banner-container">
		<div class="wrapper">
			<div class="register-box">
				<div class="bg"></div>
				<div class="register-inner">
					<div class="h3">
						年化收益率 <span>(活期)</span>
					</div>
					<div class="rate">10<span>%</span></div>
					<div class="text"><span>50倍 </span>银行过期存款收益</div>
					<a href="" class="register-btn">
						<i class="icon-gift"></i>
						注册送好礼
					</a>
					<div class="toLogin">已有账号，<a href="">前往登录</a></div>
				</div>
			</div>
		</div>
		<div class="slider">
			<a href="" class="slide" data-img="images/banner-1.jpg"></a>
			<a href="" class="slide" data-img="images/banner-1.jpg"></a>
			<a href="" class="slide" data-img="images/banner-1.jpg"></a>
			<a href="" class="slide" data-img="images/banner-1.jpg"></a>
			<!-- <div class="controller">
				<span class="dot active"></span>
				<span class="dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
			</div> -->
		</div>	
	</div>
	<div class="billboard">
		<div class="wrapper clearfix">
			<h4><i class="icon-horn"></i><span>青柠公告</span></h4>
			<div class="activity">
				<ul class="activity-list">
					<li>【活动】青柠理财平台正式推出红包雨优惠活动好，赶快来抢吧</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="wrapper clearfix">
			<div class="feature-item">
				<h4>资金保障</h4>
				<div class="text">第三方托管</div>
				<div class="text">汇付天下资金托管</div>
			</div>
			<div class="feature-item feature2">
				<h4>立体风控</h4>
				<div class="text">立体控制</div>
				<div class="text">五重风险控制体系</div>
			</div>
			<div class="feature-item feature3">
				<h4>低门槛 高收益</h4>
				<div class="text">10元起投</div>
				<div class="text">年化收益7%~10%</div>
			</div>
			<div class="feature-item feature4">
				<h4>灵活投资</h4>
				<div class="text">方便快捷</div>
				<div class="text">随时赎回 动态加息</div>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="wrapper">
			<div class="section1 clearfix">
				<div class="section1-left">
					<div class="subject subject-new">
						<div class="bg-left">
							<a href="">查看教程</a>
						</div>
						<div class="subject-main">
							<h4>新手标<span>新手专享</span></h4>
							<p>限投1万元，投资次日起息（仅新注册用户可投）</p>
							<div class="detail">
								<div class="rate">15<i>%</i><span>年化收益率</span></div>
								<div class="term">30<i>天</i><span>期限</span></div>
								<div class="repayment">还本还息<span>还款方式</span></div>
								<div class="progress-container">
									进度条
								</div>
							</div>
						</div>
					</div>
					<div class="subject subject-recommend">
						<div class="bg-left">
							<a href="">查看更多</a>
						</div>
						<div class="subject-main">
							<h4>新手标<span>新手专享</span></h4>
							<p>限投1万元，投资次日起息（仅新注册用户可投）</p>
							<div class="detail">
								<div class="rate">15<i>%</i><span>年化收益率</span></div>
								<div class="term">30<i>天</i><span>期限</span></div>
								<div class="repayment">还本还息<span>还款方式</span></div>
								<div class="progress-container">
									进度条
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="qrcode">
					<img src="" alt="">
				</div>
			</div>
			<div class="section2">
				<div class="section2-left">
					<a href="">查看教程</a>
					<div class="tab">
						<div class="tab-item active">车贷</div>
						<div class="tab-item">小额信贷</div>
						<div class="tab-item">转贷</div>
					</div>
				</div>
				<div class="section2-right">
					<!-- 车贷 -->
					<div class="tab-main">
						<div class="subject">
							<h4>青柠易车贷<span>天标</span></h4>
							<div class="rate">15<i>%</i><span>年化收益率</span></div>
							<div class="term">30<i>天</i><span>期限</span></div>
							<div class="repayment">还本还息<span>还款方式</span></div>
							<div class="progress-container">
								进度条
							</div>
						</div>
						<div class="subject">
							<h4>青柠易车贷<span>天标</span></h4>
							<div class="rate">15<i>%</i><span>年化收益率</span></div>
							<div class="term">30<i>天</i><span>期限</span></div>
							<div class="repayment">还本还息<span>还款方式</span></div>
							<div class="progress-container">
								进度条
							</div>
						</div>
						<div class="subject last">
							<h4>青柠易车贷<span>天标</span></h4>
							<div class="rate">15<i>%</i><span>年化收益率</span></div>
							<div class="term">30<i>天</i><span>期限</span></div>
							<div class="repayment">还本还息<span>还款方式</span></div>
							<div class="progress-container">
								进度条
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<!-- 定向标 -->
			<div class="section3">
				<a href=""></a>
			</div>
		</div>
		<!-- 新闻 -->
		<div class="news">
			<div class="wrapper clearfix">
				<div class="news-left">
					<h4>行业新闻</h4>
					<div class="news-main">
						<div class="news-block">
							<div class="img">
								<img src="images/news.png" alt="">
							</div>
							<h5>2016年互金大会</h5>
							<p>2016年互金大会在杭州西湖区某某地点举行....</p>
						</div>
						<div class="news-block">
							<div class="img">
								<img src="images/news.png" alt="">
							</div>
							<h5>2016年互金大会</h5>
							<p>2016年互金大会在杭州西湖区某某地点举行....</p>
						</div>
						<div class="news-block">
							<div class="img">
								<img src="images/news.png" alt="">
							</div>
							<h5>2016年互金大会</h5>
							<p>2016年互金大会在杭州西湖区某某地点举行....</p>
						</div>
					</div>
				</div>
				<div class="news-right">
					<div class="notice">
						<h4>平台公告<a href="">更多>></a></h4>
						<ul>
							<li><a href="">11.11活动投资送好礼</a></li>
							<li><a href="">11.11活动投资送好礼</a></li>
							<li><a href="">11.11活动投资送好礼</a></li>
						</ul>
					</div>
					<div class="dynamic">
						<h4>公司动态<a href="">更多>></a></h4>
						<ul>
							<li><a href="">11.11活动投资送好礼</a></li>
							<li><a href="">11.11活动投资送好礼</a></li>
							<li><a href="">11.11活动投资送好礼</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 合作伙伴 -->
		<div class="partner">
			<div class="wrapper clearfix">
				<h4>合作伙伴</h4>
				<div class="partner-list"></div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<div class="part1">
			<div class="wrapper">
				<div class="links">
					<dl class="list-1">
						<dt><i></i>关于我们</dt>
						<dd><a href="">公司介绍</a></dd>
						<dd><a href="">联系我们</a></dd>
					</dl>
					<dl class="list-2">
						<dt><i></i>账户中心</dt>
						<dd><a href="">我的账户</a></dd>
						<dd><a href="">投资记录</a></dd>
						<dd><a href="">红包管理</a></dd>
						<dd><a href="">实名绑卡</a></dd>
						<dd><a href="">邀请好友</a></dd>
					</dl>
					<dl class="list-3">
						<dt><i></i>帮助中心</dt>
						<dd><a href="">新手指南</a></dd>
						<dd><a href="">安全保障</a></dd>
						<dd><a href="">常见问题</a></dd>
					</dl>
				</div>
				<div class="sweep-a-sweep">
					<h5>扫一扫，随时关注您的理财咨讯</h5>
					<div class="qrcode-wrapper">
						<div class="qrcode">
							<img src="images/qrcode-2.png" alt="">
							<h6>青柠理财APP</h6>
						</div>
						<div class="qrcode">
							<img src="images/qrcode-2.png" alt="">
							<h6>青柠理财公众号</h6>
						</div>
					</div>
				</div>
				<div class="contact">
					<div class="number">400-008-7077</div>
					<div class="time">工作日 9:00~20:00    周末 9:00~18:00</div>
					<h6>关注我们</h6>
					<div class="ways">
						<a href="" class="xlwb"></a>
						<a href="" class="txwb"></a>
						<a href="" class="qq"></a>
						<a href="" class="wx"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="part2">
			<div class="wrapper">
				杭州香橙网络科技有限公司 版权所有<span>浙ICP备 16009189 号</span>浙公网安备 33010802005472号
			</div>
		</div>
	</div>

	<script src="libs/require.js"></script>
	<script src="public/js/config.js"></script>
	<script src="public/js/index.js"></script>
</body>
</html>